// Sign In Page

.logo {
    width: 15%;
    display: block;
    margin: 0 auto;
}

.user-input {
    border-radius: 5%;
    width: 200px;
    height: 40px;
    display: block;
    margin: 5px auto;
    border:1px solid #cccccc;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.sign-in-button {
    border-radius: 5%;
    width: 200px;
    height: 40px;
    display: block;
    margin: 5px auto;
    background-color: #EEC8C7;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    a{
        color: white;
        text-decoration: none;
    }

}

.accent-bar {
    width: 100%;
    background-color: #9EC2C6;
    padding: 50px 0 50px 0;
    font-family: 'Open Sans Condensed', sans-serif;

}

.title {
    color: white;
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header{
    font-size: 40px;
    text-align: center;
    color: #9EC2C6;
    font-family: 'Open Sans Condensed', sans-serif;
}

.sign-in-sub {
    font-size: 20px;
    text-align: center;
    color: gray;
    font-family: 'Open Sans Condensed', sans-serif;
}
//


// Navbar

.navbar {
    width: 100%;
    height: 50px;
    background-color: #9EC2C6;
    margin-top: 0;
    font-size: 20px;
}

.menu li {
    display: inline;
}

ul {
    margin: 0; 
}

.nav-left {
    margin: 1vh;
    float: left;
    color: white;
}

.nav-right {
    margin: 1vh;
    float: right;
    color: white;
}

//

// Welcome Page
.logo-welcome {
    width: 75%;
    display: block;
    margin : 0 auto;
    padding-top: 20vh;
}

.welcome-message {
    text-align: left;
    color: gray;
    margin: 0 5vh 0 5vh;

}

.welcome-header {
    margin: 0 5vh 0 5vh;
    padding-top: 20vh;
    text-align: center;
    color: #9EC2C6;
    font-family: 'Open Sans Condensed', sans-serif;
}

.welcome-button {
    border-radius: 5%;
    width: 200px;
    height: 40px;
    display: block;
    margin: 5px auto;
    background-color: #9EC2C6;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    a{
        color: white;
        text-decoration: none;
    } 
}

// Email Input 
.username-header {
    text-align: center;
    color: #9EC2C6;
    font-family: 'Open Sans Condensed', sans-serif;
}

.username-desc {
    color: gray;
    text-align: center;
}

// Settings
.dropdown {
    display: block;
    margin: 10px auto;
    width: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 30px;
    font-size: 20px;
}
.column {
    flex: 50%;
}

.row {
    display: flex;
}
